/* PC */
@media (min-width : 64em) {

}


/* TABLET & MOBILE*/
@media (max-width : 63.9375em){
    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }

    .contact-info{
        line-height: 2;
    }

    #footer .social{
        font-size: 48px;
    }

    #footer .social a{
        margin: 0 8px;
    }

    #footer .copyright{
        padding: 12px 0;
        display: inline-block;
    }

    #nav .subnav a{
        padding: 5px 12px;
    }

}
/* TABLET */
@media (min-width : 46.25em) and (max-width: 63.9375em) {
    
}


/* MOBILE */
@media (max-width : 46.1875em) {


    .s-full-width {
        width: 100% !important;
    } 
    
    .s-col-full{
        width: 100%!important;
    }


    .s-mt8{
        margin-top: 8px !important;
    }


    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-button {
        display: none;
    }
    #nav {
    display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #content .member-avatar{
        width: 60%;
    }

    .contact-form{
        margin-top: 32px;
    }
}